@import '@/assets/scss/_variables.scss';

// Handphone
@media only screen and (max-width: 480px) {
  .logo {
    top: 5%;
    left: 5%;

    width: 55px;
    height: 55px;
  }
  .hamburger {
    top: 5%;
    right: 5%;

    width: 50px;
    height: 50px;
  }
  .menu-list {  
    .container-grid {    
      grid-template-columns: unset;
      grid-template-rows: 40% 60%; 
      grid-gap: 0; 
    }

    .menu-box {
      // border: 1px solid white;
      width: 100%;
      height: 100%;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }
  
    .menu-logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  
    .menu-links {
      align-items: center;
      
      .menu-link {
        font-size: 24px;
        margin: 12px 0;
      }
    }
  
    .menu-socials {
      width: 100%;
      justify-content: center;
      
      .menu-social {
        font-size: 20px;
        
        i { 
          margin: 0 16px;
        }
      }
    }
  }
  .section-title {
    font-size: 32px;
  }
  .home {  
    .parallax-container {
      .gunung {
        object-fit: cover;
      }
    }
  
    .parallax-sungai {
      height: 1000px;
  
      .sungai {
        height: 800px;
      }
  
      .about-container {
        top: unset;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 100%;
        padding: 0 25px;
        text-align: center;

        .about-title {
          font-size: 20px;
        }
  
        .about-text {
          font-size: 12px;
        }
      }
    }
    
    .title-container {
      left: 50%;
      top: 40%;
      transform: translate(-50%, -40%);

      width: 100%;
      padding: 0 25px;
  
      .title {
        font-size: 30px;
  
        &::before,
        &::after {
          width: 20px;
          height: 5px;
        }
      }
  
      .subtitle {
        font-size: 14px;
        letter-spacing: 1px;
        white-space: normal;
      }
    }
  }
  .logo-section {
    overflow: hidden; /* Because of margin from the logo images */

    width: 80%;
    margin: 500px auto 0;
    height: 100vh;

    .filosofi {
      &__logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 48px;
        }
        img {
          width: 100%;
          height: auto;
          margin-left: 125px;
        }
      }
      &__content {
        width: 100%;
        &-title {
          font-size: 28px;
        }
        &-description {
          padding: 0 0;
        }
      }
    }
  }
  .event-section {
    width: 80%;
    margin: 0 auto;
    height: auto;
  
    .row-content {
      height: auto;
      flex-direction: column;
    }
  }
  .what-to-do-section {
    padding: 25px 25px 37px;
  
    .row-content {
      flex-direction: column;
    }
    
    .card {
      &:nth-child(2) {
        margin: 50px 0;
      }
    }
  }
  .video-section {
    padding: 25px 25px 0;
    height: auto;
  
    .row-content {
      height: auto;
    }
  
    img {
      display: none;
    }
  
    .video {
      width: 100%;
      height: auto;
      margin: 25px auto 0;
    }
  }
}

// Tablet
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    // border: 1px solid white;
    max-width: 400px;
  }
  .logo {
    top: 5%;
    left: 5%;

    width: 55px;
    height: 55px;
  }
  .hamburger {
    top: 5%;
    right: 5%;

    width: 50px;
    height: 50px;
  }
  .menu-list {  
    .container-grid {    
      grid-template-columns: unset;
      grid-template-rows: 40% 60%; 
      grid-gap: 0; 
    }

    .menu-box {
      // border: 1px solid white;
      width: 100%;
      height: 100%;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }
  
    .menu-logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  
    .menu-links {
      align-items: center;
      
      .menu-link {
        font-size: 24px;
        margin: 12px 0;
      }
    }
  
    .menu-socials {
      width: 100%;
      justify-content: center;
      
      .menu-social {
        font-size: 20px;
        
        i { 
          margin: 0 16px;
        }
      }
    }
  }
  .section-title {
    font-size: 32px;
  }
  .home {  
    .parallax-container {
      .gunung {
        object-fit: cover;
      }
    }
  
    .parallax-sungai {
      height: 1000px;
  
      .sungai {
        height: 800px;
      }
  
      .about-container {
        top: unset;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 100%;
        padding: 0 25px;
        text-align: center;

        .about-title {
          font-size: 20px;
        }
  
        .about-text {
          font-size: 12px;
        }
      }
    }
    
    .title-container {
      left: 50%;
      top: 150px;
      transform: translate(-50%, 0);

      width: 75%;
      padding: 0 25px;
  
      .title {
        font-size: 30px;
  
        &::before,
        &::after {
          width: 10%;
          height: 5px;
        }
      }
  
      .subtitle {
        font-size: 14px;
        letter-spacing: 1px;
        white-space: normal;
      }
    }
  }
  .logo-section {
    overflow: hidden; /* Because of margin from the logo images */

    width: 80%;
    margin: 500px auto 0;
    height: 100vh;

    .filosofi {
      &__logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 48px;
        }
        img {
          width: 100%;
          height: auto;
          margin-left: 125px;
        }
      }
      &__content {
        width: 100%;
        &-title {
          font-size: 28px;
        }
        &-description {
          padding: 0 0;
        }
      }
    }
  }
  .event-section {
    width: 80%;
    margin: 0 auto;
    height: auto;
  
    .row-content {
      height: auto;
      flex-direction: column;
    }
  }
  .what-to-do-section {
    padding: 25px 25px 37px;
  
    .row-content {
      flex-direction: column;
    }
    
    .card {
      &:nth-child(2) {
        margin: 50px 0;
      }
    }
  }
  .video-section {
    padding: 25px 25px 37px;
    height: auto;
  
    .row-content {
      height: auto;
    }
  
    img {
      display: none;
    }
  
    .video {
      width: 100%;
      height: 200px;
      margin: 25px auto 0;
    }
  }
}

// Laptop
@media only screen and (min-width: 769px) and (max-width: 1024px ) {
  .container {
    max-width: 700px;
  }
  .logo {
    top: 8%;
    left: 8%;

    width: 75px;
    height: 75px;
  }
  .hamburger {
    top: 10%;
    right: 8%;

    width: 50px;
    height: 50px;
  }
  .menu-list {  
    .container-grid {    
      grid-template-columns: unset;
      grid-template-rows: 40% 60%; 
      grid-gap: 0; 
    }

    .menu-box {
      // border: 1px solid white;
      width: 100%;
      height: 100%;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }
  
    .menu-logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  
    .menu-links {
      align-items: center;
      
      .menu-link {
        font-size: 24px;
        margin: 12px 0;
      }
    }
  
    .menu-socials {
      width: 100%;
      justify-content: center;
      
      .menu-social {
        font-size: 20px;
        
        i { 
          margin: 0 16px;
        }
      }
    }
  }
  .section-title {
    font-size: 48px;
  }
  .home {  
    .parallax-container {
      .gunung {
        object-fit: cover;
      }
    }
    .parallax-sungai {
      height: calc(100vh + 500px);
      .sungai {
        height: 900px;
      }
      .about-container {
        top: unset;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 100%;
        padding: 0 50px;
        text-align: center;

        .about-title {
          font-size: 32px;
        }
  
        .about-text {
          font-size: 18px;
        }
      }
    }
    .title-container {
      left: 50%;
      top: 150px;
      transform: translate(-50%, 0);
      width: 75%;
      padding: 0 25px;
      .title {
        font-size: 58px;
        &::before,
        &::after {
          width: 5%;
          height: 5px;
        }
      }
      .subtitle {
        font-size: 24px;
        letter-spacing: 1px;
        white-space: normal;
      }
    }
  }
  .logo-section {
    overflow: hidden; /* Because of margin from the logo images */

    width: 80%;
    margin: 500px auto 0;
    height: 100vh;
    
    .filosofi {
      &__logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 48px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          margin-left: 150px;
        }
      }
      &__content {
        width: 100%;
        &-title {
          font-size: 28px;
        }
        &-description {
          padding: 0 0;
        }
      }
    }
  }
  .event-section {
    width: 80%;
    margin: 0 auto;
    height: auto;
    .row-content {
      height: auto;
      flex-direction: row;

      .card {
        width: 200px;
        height: 300px;
    
        .card-inner {
          .card-front {
            .img {
              width: 32px;
              height: 32px;
              &-footer {
                width: 100px;
              }
            }
            &-item {    
              &-img {
                width: 100px;
              }
              &-text {
                font-size: 20px;
              }
            }
          }
          .card-back {
            &-header {
              padding: 12px 0;
              &-img {
                width: 50px;
              }
              &-text {
                font-size: 20px;
              }
            }
            &-text {
              font-size: 10px;
            }
            &-footer {
              width: 50px;
            }
          }
        }
      }
    }
  }
  .what-to-do-section {
    padding: 25px 25px 37px;
  
    .row-content {
      flex-direction: row;
    }
    
    .card {
      width: 250px;
      &:nth-child(2) {margin: 0 16px;}
      .card-title {
        font-size: 30px;
      }
      .card-text {
        font-size: 14px;
      }
      .card-footer {
        a {
          font-size: 16px;
        }
      }
    }
  }
  .video-section {
    padding: 25px 25px 0;
    height: auto;
  
    .row-content {
      height: auto;
    }
  
    img {
      display: none;
    }
  
    .video {
      width: 100%;
      height: 350px;
      margin: 25px auto 0;
    }
  }
} 

// Desktops
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .logo {
    top: 8%;
    left: 8%;

    width: 75px;
    height: 75px;
  }
  .hamburger {
    top: 10%;
    right: 8%;

    width: 50px;
    height: 50px;
  }
  .section-title {
    font-size: 48px;
  }
  .home {  
    .parallax-container {
      .gunung {
        object-fit: cover;
      }
    }
    .parallax-sungai {
      height: calc(100vh + 500px);
      .sungai {
        height: 1100px;
      }
      .about-container {
        top: unset;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 100%;
        padding: 0 50px;
        text-align: center;

        .about-title {
          font-size: 36px;
        }
  
        .about-text {
          font-size: 18px;
        }
      }
    }
    .title-container {
      left: 50%;
      top: 150px;
      transform: translate(-50%, 0);
      width: 75%;
      padding: 0 25px;
      .title {
        font-size: 58px;
        &::before,
        &::after {
          width: 100px;
          height: 10px;
        }
      }
      .subtitle {
        font-size: 24px;
        letter-spacing: 1px;
        white-space: normal;
      }
    }
  }
  .logo-section {
    margin: 500px auto 0;
  }
  .video-section {
    img {
      bottom: -2400px;
    }
  }
}